
.App{
overflow: scroll;
}
header{
  background-color: rgb(132, 150, 167);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .5rem 0 .5rem 0;
}

header> h1{
  text-align: center;
  font-family: Montserrat, sans-serif;

  padding: 1rem 0 1rem 0;
  color: white;
}

main {
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;


}

main > div > div:nth-child(1) {
  gap: 1rem;
  justify-content: center;
  border: solid .1rem rgb(179, 188, 194);
  width: 100%;
  padding: 1rem 0 1rem 0;background-color: rgb(238, 238, 238);
}
main > div > div:nth-child(1) > button {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 600;
}
main > div > form {
  overflow: hidden;
  transition: .3s;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  border: solid 0.1rem rgb(186, 197, 204);
  animation-name: animationForm;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes animationForm {
 0%{max-height: 0;}
  100%{
    max-height: 30rem;
 }
}

main > div > form > button {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 600;
}

main > div > form > h2 {
  color: rgb(86, 114, 117);
width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  font-family: Montserrat, sans-serif;
margin: 0 0 .5rem 0;
 border-bottom: solid 0.1rem rgb(145, 149, 151);
 border-top: solid 0.1rem rgb(145, 149, 151);
  text-align: center;
}
main > div > form > div > div > input {
  width: 10rem;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
color: rgb(126, 130, 133);
}

main > div > form > div > div > h3 {
  color: rgb(52, 69, 85);
  font-family: Montserrat, sans-serif;
}

main > div > form > div > div {
  align-items: center;
}
main > div > form > div {
  display: flex;
  padding: 0 15rem 0 15rem;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5rem;
}
main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-flow: column nowrap;
}

main > div > div:nth-child(3) > div:nth-child(1) {
  background-color: rgb(136, 145, 163);
}


main > div > div:nth-child(3) > div:nth-child(1) > h3 {
  font-family: Montserrat, sans-serif;
  color: rgb(255, 255, 255);
  width: 9rem;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}

main > div > div:nth-child(3) > div:nth-child(2) > div > h3 {
  font-family: Montserrat, sans-serif;
  color: rgb(139, 119, 118);
  width: 9rem;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}

main > div > div:nth-child(3) > div:nth-child(2){
 overflow: scroll;
 max-height: 14rem;

}

main > div > div:nth-child(3) > div:nth-child(2)::-webkit-scrollbar-thumb {
  background-color: rgb(159, 176, 194);

  transition: 1s;
  box-shadow: -0.5vh 0vh 1vh 0vh rgba(93, 111, 114, 0.075);
}

main > div > div:nth-child(3) > div:nth-child(2)::-webkit-scrollbar {
  width: 0.5rem;
  height: 0rem;
background-color: rgb(210, 221, 223);
  transition: 1s;
}


main > div > div:nth-child(3) > div:nth-child(2) > div {
  background-color: rgb(200, 208, 226);
  cursor: pointer;
  justify-content: center;

}

main > div > div:nth-child(3) > div:nth-child(2) > div:hover > h3 {
  color: white;
}

main > div > div:nth-child(3) > div:nth-child(2) > div:hover {
  background-color: rgb(125, 128, 136);
}

