@media only screen and (max-width: 750px) {
  main > div > form {
    width: 95vw;
  }
  main > div > form > div {
    gap: 0.5rem;
    flex-flow: column wrap;
}


  main > div > div:nth-child(1) {
    width: 95vw;
    display: grid;
    grid-template-columns: auto auto;
  }

  main > div > div:nth-child(3){
   width: 95vw;
   justify-content: center;
 
  }

  main > div > div:nth-child(3) > div:nth-child(1) {
   justify-content: center;
  }

  main > div > div:nth-child(3) > div:nth-child(2)  {
   
}
}